@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Poppins:wght@300;400&display=swap');

* {
  background-color:blanchedalmond;
  font-family: 'Poppins',
  sans-serif;
}

#noteTitle {
  text-align: center;
  font-family: 'Bungee Outline',
  cursive;
  font-size:100px;
  margin-bottom: 10px;
}

#header3 {
  font-size: 40px;
  text-align: center;
}

#form {
  border: 10px black;
  border-radius: 4px;
  text-align: center;
}

#user_input {
  border: 3px solid black;
  padding: 5px;
  text-align: center;
}

#createNote {
  padding: 5px;
  border: 2px solid black;
}

#display {
  text-align: center;
}

#displayNoteHeading {
  margin-top: 100px;
  text-align: center;
  font-size: large;
}

#displayNote {
  text-align: center;
}

footer {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}